<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- DataSource Configuration -->
	<bean id="mysqlDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value='com.mysql.cj.jdbc.Driver' />
		<property name="username" value='root' />
		<property name="password" value='root1234' />
	</bean>

	<bean id='hikariDataSource'
		class='com.zaxxer.hikari.HikariDataSource' parent="mysqlDataSource">
		<property name="jdbcUrl" value='jdbc:mysql:///practice' />
		<property name="minimumIdle" value='10' /><!-- min pool size -->
		<property name="maximumPoolSize" value='20' />
		<property name="connectionTimeout" value='2000' />
	</bean>

	<!-- DAO Configuration -->
	<bean id='mysqlDaoImpl' class='in.ineuron.dao.CustomerMySQLDAOImp'>
		<constructor-arg name='dataSource'
			ref='hikariDataSource' />
	</bean>

	<!-- Service Configuration -->
	<bean id='serviceImpl'
		class='in.ineuron.service.CustomerMgmtServiceImpl'>
		<constructor-arg name='dao' ref='mysqlDaoImpl' />
	</bean>

	<!-- Controller Configuration -->
	<bean id='controller'
		class='in.ineuron.controller.CustomerController'>
		<constructor-arg name='service' ref='serviceImpl' />
	</bean>

</beans>