<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="baseCar" class="in.ineuron.bean.Car" abstract="true">
		<constructor-arg name="engineCC" value="1500" />
		<constructor-arg name="model" value="Swift" />
		<constructor-arg name="company" value="Maruti Suzuki" />
		<constructor-arg name="fuelType" value="Petrol" />
		<constructor-arg name="type" value="Hatchback" />
	</bean>

	<bean id="car1" class="in.ineuron.bean.Car" parent="baseCar">
		<constructor-arg name="owner" value="sachin" />
		<constructor-arg name="regNo" value="KA4567" />
		<constructor-arg name="color" value="red" />
		<constructor-arg name="engineNo" value="12345" />
	</bean>

	<bean id="car2" class="in.ineuron.bean.Car" parent="baseCar">
		<constructor-arg name="owner" value="dhoni" />
		<constructor-arg name="regNo" value="JH1234" />
		<constructor-arg name="color" value="white" />
		<constructor-arg name="engineNo" value="6789" />
	</bean>

</beans>