<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Configuring DEPENDANT bean using Setter injection -->
	<bean id="emp" class="in.ineuron.bean.Employee">
		<constructor-arg value="10" type="java.lang.Integer" />
		<constructor-arg value="sachin"
			type="java.lang.String" />
		<constructor-arg value="3500.05f" type="float" />
		<constructor-arg value="MI" type="java.lang.String" />
	</bean>
</beans>